/* Estilos gerais */
body {
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    background-color: #888;
    margin: 0;
    text-align: center;
}

/* Contêiner do calendário */
#calendar {
    width: 360px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fbfdff;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px, rgbga(0, 0, 0.23) 0px 3px, 6px;
}
/*###################################################################*/



/*###################################################################*/
/* Cabeçalho do calendário */
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #d5d7da42;
    font-weight: 900;
    border-bottom: 1px solid #888;
    text-transform: capitalize;
}

/*Setas do cabeçalho do calendário*/
.header button{
    background: none;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s, color 0.3s; /*Para dar efeito quando passar o cursor nas setas*/
}

.header button:hover{
    background-color: #333;
    color: #ffffff;
}
/*###################################################################*/


/*###################################################################*/
/* Dias da semana */
.weekdays {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
.weekdays div {
    width: 14.28%;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}
/*###################################################################*/



/*###################################################################*/
/* Dias do mês */
#days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* color: #cccccc; */
}
#days div {
    padding: 10px;
    /* border: 1px solid #ccc; */
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /*Para dar efeito quando passar o cursor nos dias*/
}

#days div:hover{
    background-color: #444444;
    color: #f7f1f1;
    transform: scale(1.1);
}

#days div.active{
    background-color: #9c1212;
    color: #f7f1f1;
    
}

/* Destacar dias com eventos */
.event-day {
    position: relative;
    cursor: pointer;
}

.event-day::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
}

/* Modal geral */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: left;
    overflow-y: auto;
    max-height: 80vh;
}

.modal-content h2 {
    text-align: center;
    margin-bottom: 15px;
}

.close {
    position: absolute;
    /* top: 0px; */
    /* right: 15px; */
    font-size: 35px;
    cursor: pointer;
    color: #000000;
}

/* Caixa de cada evento */
.event-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-container h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.event-container p {
    margin: 5px 0;
    white-space: pre-line; /* Mantém quebras de linha */
    color: #272626;
    font-size: 14px;
}






/* Dia com evento */
/* .event-day {
    background-color: #f0f0f0;
} */
/*###################################################################*/


/*###################################################################*/
/* Modal */
/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
} */

/* .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
} */
/*###################################################################*/


/*###################################################################*/
